/**
 * ColourPicker Stylesheet
 * A pure TypeScript colour picker (OK and some CSS)
 * https://github.com/lrvolle/ColourPicker
 */

@marker-size: 10px;

.colour-picker {
	width: 220px;
	padding: 6px;
	display: flex;
	flex-flow: column;
	align-items: center;
	border: 1px solid rgba(200, 200, 200, 0.5);
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	background-color: #FFF;
	touch-action: none;
}

.colour-field {
	position: relative;
	width: 100%;
	height: 200px;
	background: linear-gradient(to right, #FFF, #F00);

	.colour-field__lightness {
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, fade(#000, 0), #000);
		user-select: none;
		pointer-events: none;
	}

	.colour-field__marker {
		position: absolute;
		bottom: calc(100% ~'-' (@marker-size / 2));
		left: calc(100% ~'-' (@marker-size / 2));
		width: @marker-size;
		height: @marker-size;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 5px;
		box-sizing: border-box;
		box-shadow: 0 0 1px 1px rgb(0, 0, 0);
	}
}

.hue-slider {
	position: relative;
	height: 13px;
	width: calc(100% ~'-' 8px);
	padding: 1px;
	margin: 8px 4px 9px 0;
	user-select: none;

	.hue-slider__gradient {
		height: 100%;
		width: calc(100% ~'+' 3px);
		margin-right: -2px;
		border-radius: 2px;
		background: linear-gradient(to right, #F00 0%, #FF0 17%, #0F0 33%, #0FF 50%, #00F 67%, #F0F 83%, #F00 100%)
	}

	.hue-slider__handle {
		position: absolute;
		top: 0;
		left: 0;
		width: 3px;
		height: 100%;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 2px;
		box-sizing: border-box;
		box-shadow: 0 0 1px 1px rgb(0, 0, 0);
		pointer-events: none;
	}
}

.colour-inputs {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.colour-input {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #444;

	& > input {
		width: 30px;
		font-size: 12px;
		text-align: center;
		color: inherit;
		border: 1px solid rgba(200, 200, 200, 0.5);
		border-radius: 2px;
		-webkit-appearance: none;
	}

	.colour-input__hex {
		width: 70px;
	}

	.colour-input__lbl {
		margin-top: 3px;
		user-select: none;
	}
}

.reset-colour-button {
	display: flex;
	align-items: center;
	
	width: 100%;
	margin-top: 4px;
    padding: 6px 0;
	border-radius: 3px;
	
    cursor: pointer;
	
	&:hover {
		background-color: rgba(200, 200, 200, 0.2);
	}
}

.reset-colour-button__icon {
	height: 22px;
	width: 22px;
	margin: 0 6px;
	
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzYwNjA2MCI+PHBhdGggZD0iTTAgMGgyNHYyNEgwem0wIDBoMjR2MjRIMHptMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE4IDE0YzAtNC02LTEwLjgtNi0xMC44cy0xLjMzIDEuNTEtMi43MyAzLjUybDguNTkgOC41OWMuMDktLjQyLjE0LS44Ni4xNC0xLjMxem0tLjg4IDMuMTJMMTIuNSAxMi41IDUuMjcgNS4yNyA0IDYuNTVsMy4zMiAzLjMyQzYuNTUgMTEuMzIgNiAxMi43OSA2IDE0YzAgMy4zMSAyLjY5IDYgNiA2IDEuNTIgMCAyLjktLjU3IDMuOTYtMS41bDIuNjMgMi42MyAxLjI3LTEuMjctMi43NC0yLjc0eiIvPjwvc3ZnPg==');
	background-size: 22px 22px;
	background-repeat: no-repeat;	
}

.default-colours {
	display: grid;
	width: 100%;
	margin-top: 4px;
}

.custom-colours {
	display: grid;
	width: 100%;
	margin-top: 3px;
}

.colour-palette-spacer {
	height: 3px;
}

.colour-option {
	position: relative;
    height: 22px;
    width: 22px;
	box-sizing: border-box;
	margin: 0 3px 3px 0;
	border-radius: 4px;
	
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;

	transition: all 0.2s ease;

	&:hover {
		box-shadow: 0px 1px 2px rgba(0,0,0,0.2);

		.colour-option-delete {
			display: block;
			opacity: 1;
		}
	}
}

.colour-option-delete {
	display: none;
	position: absolute;
	top: -5px;
	right: -5px;
	width: 13px;
	height: 13px;
	box-sizing: border-box;
	transform: scale(1);
	z-index: 1;
	
	opacity: 0;
	background-color: red;
	box-shadow: 0 0 1px rgb(0, 0, 0, 0.5);
	border-radius: 50%;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNOC40IDEuOEEuOC44IDAgMCAwIDcuMi42TDQuNSAzLjMgMS44LjZBLjguOCAwIDEgMCAuNiAxLjhsMi43IDIuN0wuNiA3LjJhLjguOCAwIDEgMCAxLjIgMS4ybDIuNy0yLjcgMi43IDIuN2EuOC44IDAgMCAwIDEuMi0xLjJMNS43IDQuNWwyLjctMi43eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-position: center;

	cursor: pointer;
	transition: all 0.1s ease;
	
	&:hover {
		transform: scale(1.1);
	}
}
